:root {
    --accent: #9acd32;
    --text-dark: #555;
    --border: #999;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 60px;
    padding: 30px;
}
@media (max-width: 992px) {
    .form-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}

.form-group {
    position: relative;
}

.form-group label {
    font-size: 12px;
    color: var(--text-dark);
    letter-spacing: 1px;
}

.form-group i {
    position: absolute;
    left: 0;
    top: 32px;
    color: var(--accent);
    font-size: 18px;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border);
    padding: 6px 6px 6px 30px;
    outline: none;
    font-size: 14px;
    border-radius: 0% ;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-bottom-color: var(--accent);
    border-bottom: 2px solid #9acd32;
}

.select-arrow {
    position: absolute;
    right: 0;
    top: 32px;
    color: #000;
    pointer-events: none;
}