body {
    padding-left: 0;
}

/* Main sidebar links */
.sidebar-link {
    font-weight: 500;
    color: black;
    background: none;
    border-radius: 5%;
}

.sidebar-link:hover {
    background: #e3ebcb;
    color: #7ca514;
}

/* Submenu container */
.sidebar-submenu {
    font-weight: 500;
    color: black;
    background: none;
    border-radius: 5%;
}

/* Submenu links */
.sidebar-submenu .nav-link {
    color: #7ca514;
    font-size: 0.9rem;
    background: none;
    border-radius: 5%;
}

.sidebar-submenu .nav-link:hover {
    background: #e3ebcb;
    color: #7ca514;
}

/* Active submenu item */
.sidebar-submenu .nav-link.active {
    background: none;
    font-weight: 600;
    color: #99cc00;
}
.nav-link:hover,
.nav-link:focus {
    color: inherit;
}
.navbar {
    z-index: 1040; /* higher than sidebar */
}
.logout-btn {
    border: none; /* no border by default */
    transition: border 0.2s ease, color 0.2s ease; /* smooth effect */
}

.logout-btn:hover {
    border: 1px solid #99cc00;
    border-radius: 4px;
}
#main-content {
    flex: 1;
    padding: 1rem;
    overflow-x: auto;
}

.sidebar {
    width: 220px;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar-text {
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.sidebar.collapsed .sidebar-text {
    display: none;
}

.sidebar-icon {
    font-size: 1.2rem;
    min-width: 30px;
    text-align: center;
}

.custom-table thead th {
    background-color: transparent !important;
    padding-bottom: 15px;
}

.custom-table tbody tr {
    transition: all 0.2s ease;
    cursor: pointer;
}

.custom-table tbody tr:hover {
    background-color: #fcfcfc;
    transform: scale(1.002);
}

.rounded-4 {
    border-radius: 1rem !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05) !important;
}

.badge {
    font-weight: 600;
    letter-spacing: 0.3px;
}
