body {
    padding-left: 0;
}
:root {
    --main-color: #09487e;
    --bg-light: #e1e4e7;
}
/* sidebar start */

.sidebar {
    width: 220px;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar-text {
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.sidebar.collapsed .sidebar-text {
    display: none;
}

.sidebar-icon {
    font-size: 1.2rem;
    min-width: 30px;
    text-align: center;
}

.custom-table thead th {
    background-color: transparent !important;
    padding-bottom: 15px;
}

.custom-table tbody tr {
    transition: all 0.2s ease;
    cursor: pointer;
}

.custom-table tbody tr:hover {
    background-color: #fcfcfc;
    transform: scale(1.002);
}

.rounded-4 {
    border-radius: 1rem !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05) !important;
}

.badge {
    font-weight: 600;
    letter-spacing: 0.3px;
}
#main-content {
    margin-left: 220px;
}

.sidebar-link {
    color: #555;
    font-size: 14px;
    text-decoration: none;
}

.sidebar-link:hover,
.sidebar-link.active {
    background-color: var(--main-color);
    color: whitesmoke;
}
.nav-link {
    font-size: 13.5px;
    color: #666;
}
.nav-link:hover {
    background-color: var(--main-color);
    border-radius: 4px;
    color: whitesmoke;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        left: -220px;
    }
    #main-content {
        margin-left: 0;
    }
}

#sidebar-wrapper {
    position: fixed;
    top: 58px;
    left: 0;
    width: 220px;
    height: calc(100vh - 58px);
    z-index: 1000;
    transition: transform 0.3s ease;
}

#main-content {
    margin-left: 220px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 991.98px) {
    #main-content {
        margin-left: 0 !important;
        width: 100%;
    }

    #sidebar-wrapper {
        left: 0;
        transform: translateX(-100%);
        z-index: 1050;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .toggled #sidebar-wrapper {
        transform: translateX(0);
    }
}
@media (min-width: 992px) {
    .toggled #sidebar-wrapper {
        transform: translateX(-100%);
    }
    .toggled #main-content {
        margin-left: 0;
    }
}
/*  sidebar end */

.logout-btn {
    border: none;
    transition: border 0.2s ease, color 0.2s ease;
}
#main-content {
    flex: 1;
    padding: 1rem;
    overflow-x: auto;
}
