.navbar {
    background-color: #ffffff !important;
    z-index: 1045;
}

body {
    padding-top: 58px;
}

#main-content {
    transition: margin-left 0.3s ease-in-out;
}

.ms-220 {
    margin-left: 220px !important;
}
