.pagination .page-item.active .page-link {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: #fff !important;
}

.pagination .page-link {
    color: var(--main-color);
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: all 0.2s ease-in-out;
}

.pagination .page-link:hover {
    background-color: #f8f9fa;
    color: var(--main-color);
    border-color: #dee2e6;
}

.pagination .page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--main-color-rgb), 0.25);
    outline: none;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.pagination .page-item:last-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
