:root {
    --main-color: #09487e;
    --text-dark: #555;
    --border: #999;
}

.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
}
.form-group i,
.bi-building {
    color: var(--main-color);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.form-control > .create-form {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border);
    padding: 6px 0;
    outline: none;
    font-size: 14px;
    border-radius: 0;
    background: transparent;
}

.create-form:focus {
    box-shadow: none;
    border-bottom: 2px solid var(--main-color);
}

.custom-floating {
    position: relative;
    width: 100%;
}

.form-select {
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 10px;
    color: white !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.dropdown-style {
    color: white;
    border: none;
}
.dropdown-style option {
    color: #333;
    background-color: white;
}
.align-items-center {
    align-items: flex-end !important;
    padding-bottom: 5px;
}
.text-theme {
    color: var(--main-color) !important;
}
.bg-theme-light {
    background-color: rgba(var(--main-color-rgb, 0, 123, 255), 0.1);
}
.btn-theme {
    background-color: var(--main-color);
    color: white;
    border: none;
}
.btn-theme:hover {
    background-color: var(--main-color);
    filter: brightness(90%);
    color: white;
}

.table thead th {
    background-color: var(--main-color);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: white;
    border-bottom: 1px solid #edf2f9;
    padding: 15px 20px;
}

.student-table tbody tr:last-child {
    border-bottom: none;
}
.student-table tbody tr:hover {
    background-color: rgba(var(--main-color-rgb, 0, 123, 255), 0.02) !important;
}
.avatar-placeholder {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    background-color: #09487e;
}

.sms-create-group option {
    color: white;
    background: #09487e;
    border-radius: 4px;
}

.dropdown-item:hover {
    background-color: var(--main-color);
    color: white;
}

.dropdown-item:active {
    background-color: var(--main-color) !important;
    color: white !important;
}
